@charset "utf-8";

.top_body {
}

#header {
    width: 100%;
}

    #header div {
    }

    #header .logo {
        width: 211px;
        height: 68px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

.website {
    height: 68px;
    min-width: 300px;
    line-height: 68px;
    vertical-align: bottom;
    margin-left: 211px;
}

.info {
    height: 68px;
    width: 40%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.icon_list_backstage {
}

    .icon_list_backstage a {
        text-indent: -9999px;
        float: left;
        margin-right: 8px;
        width: 23px;
        height: 23px;
        background-repeat: no-repeat;
    }

    .icon_list_backstage .a-exit {
        background: url(../../../Images/exit.png) no-repeat;
    }
