<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>登录</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/css/site.css" />
    <link rel="stylesheet" href="/Content/css/panel.css" />
    <link rel="stylesheet" href="/Content/css/input.css" />
    <link rel="stylesheet" href="/Content/css/button.css" />
    <script type="text/javascript" src="/Scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/Scripts/layout.js"></script>
</head>
<body>

<div id="bgAllImage">
    <img class="bgAllImage" src="\Images\bg4.jpg">
</div>
<div id="div_login" style="width: 100%; height: 100%; z-index: 5; position: relative; top: 0;">
    <div class="login-panel">
        <section id="loginForm">
            <h2 style="color: white" class="font2center">登录</h2>
            <form action="/HRM/Account/Login" method="post">
                <input name="__RequestVerificationToken" type="hidden"
                       value="LLm5PA827K3O2WDOOPRQZVtCq9LeKYNRWNlW9AEdLkxXLqVncbIehBoPp2M11U2Yajvh75gcSd1Yt0sekE7e5zuikdC7CbmmdCqXN7YLzIrQsiPw0kPstsRX7DCl775ULHGKpVYDxUPzRTKaXWT62sBrFfRFV29FZWG2SfXysMo1" />                    <fieldset>
                    <legend>“登录”表单</legend>
                    <ul class="ul_login">
                        <li class="li_login">用户名：</li>
                        <li>
                            <input class="beauty_big_input" id="Name" name="Name" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                        </li>
                    </ul>
                    <ul class="ul_login">
                        <li class="li_login">密  码：</li>
                        <li>
                            <input class="beauty_big_input" id="Pass" name="Pass" type="password" />
                            <span class="field-validation-valid" data-valmsg-for="Pass" data-valmsg-replace="true"></span>
                        </li>
                    </ul>
                    <button type="submit" class="btn-login" value="" />
                </fieldset>
            </form>
        </section>
    </div>
</div>
</body>
</html>
