<div id="login_panel" class="blue_shadow">
    <div class="header">
        <img id="profile_img" class="profile_img circle tocenter_h" src="/Images/header.jpg" />
    </div>
    <form id = 'login_from'>
        <div class="form_group">
            <input id="login_key" name="login_key" placeholder="邮箱\用户名\用机号" type="text" class="noborder_input form_control"/>
            <label class="login_field_icon user" for="profile_email_input"></label>
        </div>
        <div class="form_group">
            <input id="login_pwd" name="login_pwd" placeholder="密码" type="password" class="noborder_input form_control"/>
            <label class="login_field_icon pwd" for="profile_pwd_input"></label>
        </div>
        <div class="form_group">
            <input type="submit" class="btn_login" value="登录" />
        </div>
    </form>
</div>
