<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="author" content="王衡">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="/content/css/preloader.css" />
    <script type="text/javascript" src="/scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/scripts/preloader.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/content/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/ihiking.me.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/content/css/website_mobile.css" media="screen and (max-width: 850px), screen and (orientation:portrait)"
    />
    <script type="text/javascript" src="/scripts/ihiking.me.js"></script>
    <script type="text/javascript" src="/scripts/tearspoint.core.js"></script>
    <script type="text/javascript" src="/scripts/tearspoint.core.dispatcher.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body class="page-responsive">
    <div id='welcome' >
        <h1>Welcome 13hike</h1>
        <a class="btn btn-theme-green btn-jumbotron" href="/account/login" rel="nofollow">Sign in</a>
        <a class="btn btn-theme-green btn-jumbotron" href="/account/register" rel="nofollow">Sign up</a>
    </div>
</body>

</html>