<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="author" content="王衡">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0" />
</head>

<body class="page-responsive">
    <div id='welcome' >
        <h1>Welcome 13hike</h1>
        <a class="btn btn-theme-green btn-jumbotron" href="/" rel="nofollow">网站正在建设中...</a> 
    </div>
</body>

</html>