<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
	/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

	<link rel='stylesheet' href='/stylesheets/aui.2.0.css' />
	<link rel='stylesheet' href='/stylesheets/aui-slide.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<title>
		<%= title %>
	</title>
</head>

<body>
	<div class="aui-content">
		<!-- slide -->
		<div id="aui-slide">
			<div class="aui-slide-wrap">
				<div class="aui-slide-node bg-dark">
					<img src="/images/demo/l1.png" />
				</div>
				<div class="aui-slide-node bg-dark">
					<img src="/images/demo/l2.png" />
				</div>
				<div class="aui-slide-node bg-dark">
					<img src="/images/demo/l3.png" />
				</div>
			</div>
			<div class="aui-slide-page-wrap">
				<!--分页容器-->
			</div>
		</div>
		<!-- slide end -->

		<!-- 导航 -->
		<!--  <section class="aui-grid aui-margin-b-15">
		    <div class="aui-row">
		        <div class="aui-col-xs-4">
		            <i class="aui-iconfont aui-icon-image"></i>
		            <div class="aui-grid-label">短线</div>
		        </div>
		        <div class="aui-col-xs-4">
		            <i class="aui-iconfont aui-icon-paper"></i>
		            <div class="aui-grid-label">长线</div>
		        </div>
		        <div class="aui-col-xs-4">
		            <i class="aui-iconfont aui-icon-like"></i>
		            <div class="aui-grid-label">亲子</div>
		        </div>
		        <div class="aui-col-xs-4">
		            <i class="aui-iconfont aui-icon-laud"></i>
		            <div class="aui-grid-label">团建</div>
		        </div>
		        <div class="aui-col-xs-4">
		            <i class="aui-iconfont aui-icon-flag"></i>
		            <div class="aui-grid-label">领队</div>
		        </div>
		        <div class="aui-col-xs-4">
		            <i class="aui-iconfont aui-icon-map"></i>
		            <div class="aui-grid-label">我们</div>
		        </div>
		    </div>
		</section> -->
		<!-- 导航 end -->

		<!-- 活动 -->
		<div class="aui-card-list">
			<!-- 头部切换 -->
			<div class="aui-tab" id="tab">
				<div class="aui-tab-item aui-active" id="">最新活动</div>
				<!-- <div class="aui-tab-item" id="">下周活动</div> -->
			</div>

			<!-- <div class="aui-card-list-content-padded aui-border-b aui-border-t ">
                <div class="aui-row aui-row-padded">
                    <div class="aui-col-xs-4">
                        <a class="activity-item" href="#" >
                        	<img src="/images/demo/l1.png">
                        	<p>港岛径南丫岛四期</p>
                        	<p>周六</p>
                        </a>
                    </div>
                    <div class="aui-col-xs-4">
                        <a class="activity-item" href="#" >
                        	<img src="/images/demo/l1.png">
                        	<p>港岛径南丫岛四期</p>
                        	<p>周六</p>
                        </a>
                    </div>
                    <div class="aui-col-xs-4">
                       <a class="activity-item" href="#" >
                        	<img src="/images/demo/l1.png">
                        	<p>港岛径南丫岛四期</p>
                        	<p>周六</p>
                        </a>
                    </div>
                    <div class="aui-col-xs-4">
                        <a class="activity-item" href="#" >
                        	<img src="/images/demo/l1.png">
                        	<p>港岛径南丫岛四期</p>
                        	<p>周六</p>
                        </a>
                    </div>
                    <div class="aui-col-xs-4">
                        <a class="activity-item" href="#" >
                        	<img src="/images/demo/l1.png">
                        	<p>港岛径南丫岛四期</p>
                        	<p>周六</p>
                        </a>
                    </div>
                    <div class="aui-col-xs-4">
                        <a class="activity-item" href="#" >
                        	<img src="/images/demo/l1.png">
                        	<p>港岛径南丫岛四期</p>
                        	<p>周六</p>
                        </a>
                    </div>
                </div>
            </div> -->

			<ul id="ul_acts" class="aui-list aui-media-list">
				<li class="aui-list-item">
					<a href="/detail" class="aui-media-list-item-inner">
						<div class="aui-list-item-media">
							<img src="/images/demo/001.jpg">
						</div>
						<div class="aui-list-item-inner">
							<div class="aui-list-item-text">
								<div class="aui-list-item-title">【xxx】xxx</div>
								<div class="aui-list-item-right">xx天线</div>
							</div>
							<div class="aui-list-item-text">
								xxxxx...
							</div>
						</div>
					</a>
					<div class="aui-info" style="padding-top:0">
						<div class="aui-info-item">
							<span class="aui-margin-l-5">领队：xxx</span>
						</div>
						<div class="aui-info-item">xx出发</div>
					</div>
				</li>

			</ul>

		</div>
		<!-- 活动 -->

	</div>

	<!-- footer -->
	<footer class="aui-bar aui-bar-tab" id="footer">
		<a href="/" class="aui-bar-tab-item aui-active" tapmode>
			<i class="aui-iconfont aui-icon-home"></i>
			<div class="aui-bar-tab-label">首页</div>
		</a>
		<a class="aui-bar-tab-item" tapmode>
			<i class="aui-iconfont aui-icon-flag"></i>
			<div class="aui-bar-tab-label">活动</div>
		</a>
		<a href="/profile" class="aui-bar-tab-item" tapmode>
			<i class="aui-iconfont aui-icon-my"></i>
			<div class="aui-bar-tab-label">我的</div>
		</a>
	</footer>

    <link rel="stylesheet" type="text/css" href="/content/css/preloader.css" /> 
    <script type="text/javascript" src="/scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/scripts/preloader.min.js"></script>    
    <script type="text/javascript" src="/scripts/tearspoint.core.js"></script>
    <script type="text/javascript" src="/scripts/13hike.js"></script>
	<script src="/javascripts/aui-slide.js"></script>
	<script>
		var slide = new auiSlide({
	        container:document.getElementById("aui-slide"),
	        // "width":300,
	        "height":160,
	        "speed":500,
	        "autoPlay": 3000, //自动播放
	        "loop":true,
	        "pageShow":true,
	        "pageStyle":'line',
	        'dotPosition':'center'
	    })
	</script>
</body>

</html>