
<!DOCTYPE html>
<html>
<head>
    <title>DeepAutumn</title>
    <meta name="baidu-site-verification" content="RRolCUMurk" />
    <meta charset="UTF-8" />
    <meta name="author" content="王衡">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="/Content/css/preloader.css" />
    <script type="text/javascript" src="/Scripts/less-1.5.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/Scripts/preloader.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/website_mobile.css" media="screen and (max-width: 850px), screen and (orientation:portrait)" />

    <script type="text/javascript" src="/Scripts/tearspoint.core.js"></script>
    <script type="text/javascript" src="/Scripts/tearspoint.core.dispatcher.js"></script>
</head>
<body>
<div class="div_account">
    <label  id="account-name">UserName</label>
    <a href="javascript:void(0)" class="a-exit" title="注销">注销</a>
</div>

<div  id="page_header">
</div>

<div id="logo" class="c box">
    <div class="profile c"></div>
    <div class="text">DeepAutumn<span class="dot">.</span>com</div>
</div>

<a class="s tp_color_1 shadow" href="#" data-name="about">关于</a>
<a class="s tp_color_2 shadow" href="#!blog" data-name="blog">博客</a>
<a class="s tp_color3 shadow" href="#" data-name="chat">在线聊天</a>
<a class="s tp_color4 shadow" href="#" data-name="contact">联系我</a>
<a class="s tp_color5 shadow" href="#" data-name="timeline">时间轴</a>
<a class="s tp_color6 shadow" href="#" data-name="mall">商城</a>

<a class="shadow" id="back" href="#" title="Back">&lt;</a>
<div id="page_box"></div>
<div id="preload">
</div>

<iframe id="fs_iframe"></iframe>

<div id="overlay" class="overlay">
</div>

<div id="page_footer" class="page_footer txt_right">©2015 DeepAutumn <em class="s-bottom-copyright">&nbsp;&nbsp;&nbsp;&nbsp;</em></div>
</body>

</html>