<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jx_test</title>

    <script type="text/javascript" src="/Scripts/jx/laro.fsm.js"></script>
    <script type="text/javascript" src="/Scripts/jx/JCanvas.0.1.js"></script>
</head>
<body>
<canvas id="canvas" width="1150" height="609"></canvas>
<a href="javascript:;" id="skip-btn" class="skip-btn">跳过</a>
<img id="qq" style="display: none" src="/Images/jcanvas/qq40.png">
<img id="jx" style="display: none" src="/Images/jcanvas/jx.png">
<img id="qplus" style="display: none" src="/Images/jcanvas/qplus.png">
<img id="at" style="display: none" src="/Images/jcanvas/at.png">

<script type="text/javascript" src="/Scripts/jx/home.js"></script>
<script>
    onload = function () {
        JxHome.init();
    }
</script>
</body>
</html>