<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
	/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

	<title><%=title %></title>

	<link rel='stylesheet' href='/stylesheets/aui.2.0.css' />
	<link rel='stylesheet' href='/stylesheets/aui-slide.css' />
	<style type="text/css">
		.aui-list .aui-list-item-label {
			width: 10%;
		}
		
		.aui-list {
			border-left: 1px solid #EEE;
			border-right: 1px solid #EEE;
		}
	</style>

</head>

<body>
	<header class="aui-bar aui-bar-nav">
		<div class="aui-title">注册页</div>
	</header>

	<form id='reg_from' action="\account\register" method="post">
		<div class="aui-content aui-margin-b-15" style="padding:1rem;">
			<ul class="aui-list aui-form-list" style="margin: 3rem 0 2rem 0;">
				<li class="aui-list-item">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-label">
							<i class="aui-iconfont aui-icon-my"></i>
						</div>
						<div class="aui-list-item-input">
							<input type="text" id="uname" name="uname" placeholder="取个名字">
						</div>
					</div>
				</li>
				<li class="aui-list-item">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-label">
							<i class="aui-iconfont aui-icon-lock"></i>
						</div>
						<div class="aui-list-item-input">
							<input type="password" id="login_pwd" name="login_pwd" placeholder="输入密码">
						</div>
					</div>
				</li>
				<li class="aui-list-item">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-label">
							<i class="aui-iconfont aui-icon-lock"></i>
						</div>
						<div class="aui-list-item-input">
							<input type="password" id="login_pwd2" name="login_pwd2" placeholder="重新输入密码">
						</div>
					</div>
				</li>
			</ul>
			<p><input type="submit" class="aui-btn aui-btn-info aui-btn-block" value="注册" />
			</p>
			<p style="margin:1rem 0; "><a href="/account/login" class="aui-btn aui-btn-block">登录</a></p>

		</div>
	</form>

	<!-- footer -->
	<footer class="aui-bar aui-bar-tab" id="footer">
		<a href="/" class="aui-bar-tab-item" tapmode>
			<i class="aui-iconfont aui-icon-home"></i>
			<div class="aui-bar-tab-label">首页</div>
		</a>
		<a class="aui-bar-tab-item" tapmode>
			<i class="aui-iconfont aui-icon-flag"></i>
			<div class="aui-bar-tab-label">活动</div>
		</a>
		<a href="/profile" class="aui-bar-tab-item  aui-active" tapmode>
			<i class="aui-iconfont aui-icon-my"></i>
			<div class="aui-bar-tab-label">我的</div>
		</a>
	</footer>


	<script src="/javascripts/aui-slide.js"></script>

</body>

</html>