<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="author" content="王衡">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script type="text/javascript" src="/scripts/jquery/jquery-1.7.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/content/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/13hike.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/content/css/website_mobile.css" media="screen and (max-width: 850px), screen and (orientation:portrait)"
    />
    <script type="text/javascript" src="/scripts/13hike.js"></script>
    <script type="text/javascript" src="/scripts/tearspoint.core.js"></script>
    <script type="text/javascript" src="/scripts/tearspoint.core.dispatcher.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body class="page-responsive">
    <div id='welcome'>
        <h1>Welcome 13hike</h1>
        <form id='login_from' action="\account\setpwd" method="post">
            <div class="form_group">
                <label id="login_key" name="login_key" type="" class="noborder_input form_control"> <%=uname %> </label> 
            </div>
            <div class="form_group">
                <input id="login_pwd" name="login_pwd" placeholder="密码" type="password" class="noborder_input form_control" /> 
            </div>
            <div class="form_group">
                <input id="login_pwd2" name="login_pwd2" placeholder="确认密码" type="password" class="noborder_input form_control" /> 
            </div>
            <div class="form_group">
                <input type="submit" class="btn_login" value="确认修改密码" />
            </div>
        </form>
    </div>
</body>

</html>