<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>联系我</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/content/css/13hike.css" media="all" />
</head>

<body>
    <section label="Powered by 135editor.com" style="font-family: 微软雅黑; font-size: 16px; box-sizing: border-box;">
        <section class="_135editor" style="position: relative; box-sizing: border-box;" data-id="46" data-color="rgb(128, 177, 53)"
            data-custom="rgb(128, 177, 53)">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;">
                <section style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvaWNyaWJBdmljYzdVZzZpYkxSRUlYM1pVamxsRFpoZWRteHZEY1V4Y24ySkNqQzFRUzhUWnY5alhxQVNuRERHMTRFdk5QejBtcXVydlk4ZFFxNjUyQkdpYktkQS8w"
                        style="vertical-align:top; width:40px;height:auto !important;" title="undefined" alt="" />
                    <p class="135brush" data-brushtype="text" placeholder="135编辑器" style="box-sizing: border-box; color: inherit; font-size: 12px; line-height: 30px; margin: 0px; padding: 0px; white-space: normal;">
                        13户外
                    </p>
                </section>
                <section style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section style="border-right-width: 20px; border-left-width: 0px; border-right-style: solid; border-right-color: rgb(128, 177, 53); border-left-color: rgb(128, 177, 53); display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; box-sizing: border-box; padding: 0px; margin: 0px; border-bottom-width: 12px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;"></section>
                </section>
                <section class="135brush layout" style="display: inline-block; width: 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius: 1em; font-size: 1em; border-color: rgb(128, 177, 53); box-sizing: border-box; color: rgb(255, 255, 255); background-color: rgb(128, 177, 53);"
                    data-width="65%">
                    <p style="color: inherit; border-color: rgb(128, 177, 53); box-sizing: border-box; padding: 0px; margin: 0px; white-space: normal;">
                        <span style="color: #FFFFFF;"> <%-result %> </span>
                    </p>
                </section>
            </section>
        </section>
        <section class="_135editor" style="position: relative; box-sizing: border-box;">
            <section class="_135editor" data-id="46" data-color="rgb(128, 177, 53)" data-custom="rgb(128, 177, 53)" style="position: relative; box-sizing: border-box;">
                <section style="box-sizing: border-box;">
                    <section style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box;">
                        <img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvaWNyaWJBdmljYzdVZzZpYkxSRUlYM1pVamxsRFpoZWRteHZEY1V4Y24ySkNqQzFRUzhUWnY5alhxQVNuRERHMTRFdk5QejBtcXVydlk4ZFFxNjUyQkdpYktkQS8w"
                            style="vertical-align: top; width: 40px;" title="undefined" alt="" />
                        <p class="135brush" data-brushtype="text" placeholder="135编辑器" style="color: inherit; font-size: 12px; line-height: 30px; white-space: normal;">
                            13户外
                        </p>
                    </section>
                    <section style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                        <section style="border-right-width: 20px; border-left-width: 0px; border-right-style: solid; border-right-color: rgb(128, 177, 53); border-left-color: rgb(128, 177, 53); display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom-width: 12px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important; box-sizing: border-box;"></section>
                    </section>
                    <section class="135brush layout" style="display: inline-block; width: 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius: 1em; font-size: 1em; border-color: rgb(128, 177, 53); color: rgb(255, 255, 255); box-sizing: border-box; background-color: rgb(128, 177, 53);"
                        data-width="65%">
                        <p style="color: inherit; border-color: rgb(128, 177, 53); white-space: normal;">
                            接下来按照下面的步骤付款即可 &nbsp;<img src="http://img.baidu.com/hi/jx2/j_0057.gif" />
                        </p>
                    </section>
                </section>
            </section>
            <p style="white-space: normal;">
                <br/>
            </p>
            <p style="white-space: normal;">
                <br/>
            </p>


            <section class="_135editor" data-id="32290" data-color="rgb(128, 177, 53)" data-custom="rgb(128, 177, 53)" style="font-family: 微软雅黑; line-height: 25.6px; white-space: normal; box-sizing: border-box;">
                <section style="margin-top: 5px; margin-bottom: 5px; clear: both; border: 0px none; box-sizing: border-box;">
                    <section style="border-top: 2.5px solid rgb(128, 177, 53); border-right-color: rgb(128, 177, 53); border-bottom-color: rgb(128, 177, 53); border-left-color: rgb(128, 177, 53); font-size: 1em; font-weight: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                        <section style="margin-top: 2px; border: 0px rgb(128, 177, 53); overflow: hidden; color: inherit; box-sizing: border-box;">
                            <section style="display: inline-block; font-size: 1em; font-family: inherit; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: inherit; border-color: rgb(128, 177, 53); box-sizing: border-box; background-color: transparent;">
                                <section class="135brush" data-bcless="darken" data-brushtype="text" style="padding: 5px 10px; display: inline-block; line-height: 1.4em; height: 32px; vertical-align: top; font-family: inherit; font-weight: bold; float: left; color: inherit; border-color: rgb(71, 98, 29); box-sizing: border-box; background: rgb(128, 177, 53);">
                                    已报名
                                </section>
                                <section style="display: inline-block; vertical-align: top; width: 0px; height: 0px; border-top: 32px solid rgb(128, 177, 53); border-right: 32px solid transparent; border-top-right-radius: 4px; border-bottom-left-radius: 2px; color: inherit; box-sizing: border-box;"></section>
                            </section>
                        </section>
                    </section>
                </section>
                <ul class="actApplyList" style="margin-top: 5px">
                    <% users.forEach(function(user){ %>
                        <li>
                            <img style="float:left" src="http://img.cdn.iweju.cn/g3/M01/83/A7/wKgBEFVnNWeANmvHAAANDw1q7bg491.png_60x60.jpeg"
                                onerror="this.src='/images/user.png'">
                                <span class="left"><%=user.user_name %></span>
                                <span style="float:right;margin-right: 5px;text-align:right"><%=new Date(user.signup_on).toLocaleDateString() %></span></li>
                        <% }); %>
                </ul>
            </section>


            <section class="_135editor" data-id="32290" data-color="rgb(128, 177, 53)" data-custom="rgb(128, 177, 53)" style="font-family: 微软雅黑; line-height: 25.6px; white-space: normal; box-sizing: border-box;">
                <section style="margin-top: 5px; margin-bottom: 5px; clear: both; border: 0px none; box-sizing: border-box;">
                    <section style="border-top: 2.5px solid rgb(128, 177, 53); border-right-color: rgb(128, 177, 53); border-bottom-color: rgb(128, 177, 53); border-left-color: rgb(128, 177, 53); font-size: 1em; font-weight: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                        <section style="margin-top: 2px; border: 0px rgb(128, 177, 53); overflow: hidden; color: inherit; box-sizing: border-box;">
                            <section style="display: inline-block; font-size: 1em; font-family: inherit; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: inherit; border-color: rgb(128, 177, 53); box-sizing: border-box; background-color: transparent;">
                                <section class="135brush" data-bcless="darken" data-brushtype="text" style="padding: 5px 10px; display: inline-block; line-height: 1.4em; height: 32px; vertical-align: top; font-family: inherit; font-weight: bold; float: left; color: inherit; border-color: rgb(71, 98, 29); box-sizing: border-box; background: rgb(128, 177, 53);">
                                    微信支付
                                </section>
                                <section style="display: inline-block; vertical-align: top; width: 0px; height: 0px; border-top: 32px solid rgb(128, 177, 53); border-right: 32px solid transparent; border-top-right-radius: 4px; border-bottom-left-radius: 2px; color: inherit; box-sizing: border-box;"></section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p style="font-family: 微软雅黑; line-height: 25.6px; white-space: normal;">
                <br/>
            </p>
            <section class="_135editor" data-id="45" data-color="rgb(128, 177, 53)" data-custom="rgb(128, 177, 53)" style="font-family: 微软雅黑; line-height: 25.6px; white-space: normal; box-sizing: border-box;">
                <section style="margin-top: 0.8em; margin-bottom: 0.5em; line-height: 32px; font-weight: bold; box-sizing: border-box;">
                    <section style="display: inline-block; float: left; width: 32px; height: 32px; border-radius: 32px; vertical-align: top; text-align: center; border-color: rgb(128, 177, 53); color: rgb(255, 255, 255); box-sizing: border-box; background-color: rgb(128, 177, 53);">
                        <section data-width="100%" style="display: table; width: 100%; color: inherit; border-color: rgb(128, 177, 53); box-sizing: border-box;">
                            <section class="autonum" placeholder="1" data-original-title="" title="" style="display: table-cell; vertical-align: middle; border-color: rgb(128, 177, 53); box-sizing: border-box;">
                                1
                            </section>
                        </section>
                    </section>
                    <section class="135brush" data-brushtype="text" style="margin-left: 36px; color: rgb(128, 177, 53); border-color: rgb(128, 177, 53); box-sizing: border-box;">
                        &nbsp;长按下面二维码添加微信客服
                    </section>
                </section>
            </section>
            <p style="font-family: 微软雅黑; line-height: 25.6px; white-space: normal;">
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvaWNyaWJBdmljYzdVZzZ0TzkzTFh6M21Sc3ZnU3k2VlRLT2xlTTFRSExKTkhpYWROalZwVFlOQTJpY1dWaWNIWm5hbTZiWWc3ZlhWaWNHano0WHA0ejJVNnpCVmF3LzA="
                    alt="blob.png" />
            </p>
            <section class="_135editor" data-id="45" data-color="rgb(128, 177, 53)" data-custom="rgb(128, 177, 53)" style="font-family: 微软雅黑; line-height: 25.6px; white-space: normal; position: relative; box-sizing: border-box;">
                <section style="margin-top: 0.8em; margin-bottom: 0.5em; line-height: 32px; font-weight: bold; box-sizing: border-box;">
                    <section style="display: inline-block; float: left; width: 32px; height: 32px; border-radius: 32px; vertical-align: top; text-align: center; border-color: rgb(128, 177, 53); color: rgb(255, 255, 255); box-sizing: border-box; background-color: rgb(128, 177, 53);">
                        <section data-width="100%" style="display: table; width: 100%; color: inherit; border-color: rgb(128, 177, 53); box-sizing: border-box;">
                            <section class="autonum" placeholder="1" data-original-title="" title="" style="display: table-cell; vertical-align: middle; border-color: rgb(128, 177, 53); box-sizing: border-box;">
                                2
                            </section>
                        </section>
                    </section>
                    <section class="135brush" data-brushtype="text" style="margin-left: 36px; color: rgb(128, 177, 53); border-color: rgb(128, 177, 53); box-sizing: border-box;">
                        直接支付即可。
                    </section>
                </section>
            </section>
            <p style="white-space: normal;">
                <br/>
            </p>
            <p style="white-space: normal;">
                <br/>
            </p>
        </section>
        <section class="_135editor" style="position: relative; box-sizing: border-box;" data-color="rgb(128, 177, 53)" data-custom="rgb(128, 177, 53)">
            <section class="_135editor" style="position: relative; box-sizing: border-box;" data-id="32290" data-color="rgb(30, 155, 232)"
                data-custom="rgb(30, 155, 232)">
                <section style="clear: both; padding: 0px; border: 0px none; margin: 5px 0px; box-sizing: border-box;">
                    <section style="border-top: 2.5px solid rgb(30, 155, 232); border-right-color: rgb(30, 155, 232); border-bottom-color: rgb(30, 155, 232); border-left-color: rgb(30, 155, 232); font-size: 1em; font-weight: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                        <section style="border: 0px rgb(30, 155, 232); margin: 2px 0px 0px; overflow: hidden; padding: 0px; color: inherit; box-sizing: border-box;">
                            <section style="display: inline-block; font-size: 1em; font-family: inherit; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: inherit; border-color: rgb(30, 155, 232); box-sizing: border-box; background-color: transparent;">
                                <section class="135brush" data-bcless="darken" data-brushtype="text" style="display: inline-block; line-height: 1.4em; padding: 5px 10px; height: 32px; vertical-align: top; font-size: 16px; font-family: inherit; font-weight: bold; float: left; color: inherit; border-color: rgb(15, 95, 145); box-sizing: border-box; background: rgb(30, 155, 232);">
                                    支付宝支付
                                </section>
                                <section style="display: inline-block; vertical-align: top; font-size: 16px; width: 0px; height: 0px; border-top: 32px solid rgb(30, 155, 232); border-right: 32px solid transparent; border-top-right-radius: 4px; border-bottom-left-radius: 2px; color: inherit; box-sizing: border-box;"></section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p style="white-space: normal;">
                <br/>
            </p>
            <section class="_135editor" style="position: relative; box-sizing: border-box;" data-id="2185" data-color="rgb(30, 155, 232)"
                data-custom="rgb(30, 155, 232)">
                <section style="color: inherit; padding: 5px 10px 0px 35px; margin-left: 27px; border-left-width: 2px; border-left-style: dotted; border-left-color: rgb(228, 228, 228); box-sizing: border-box;">
                    <section class="autonum" style="font-size: 16px; width: 32px; height: 32px; margin-left: -53px; margin-top: 23px; color: rgb(255, 255, 255); text-align: center; line-height: 32px; border-radius: 16px; box-sizing: border-box; background-image: initial; background-attachment: initial; background-color: rgb(30, 155, 232); background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"
                        data-original-title="" title="">
                        1
                    </section>
                    <section class="135brush" style="margin-top: -30px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                        <p style="clear: both; line-height: 1.5em; color: inherit; white-space: normal;">
                            <strong style="color: inherit; line-height: 1.5em;">支付宝：<strong><span style="color: #FF2941;">hike13@163.com</span></strong></strong>
                        </p>
                        <p style="clear: both; line-height: 1.5em; color: inherit; white-space: normal;">
                            <strong>并备注：<span style="color: #1E9BE8;">姓名</span>+<span style="color: #1E9BE8;">活动名称</span></strong>
                        </p>
                        <p style="clear: both; line-height: 1.5em; color: inherit; white-space: normal;">
                            <br/>
                        </p>
                        <p style="font-size: 14px; clear: both; line-height: 1.5em; color: inherit; white-space: normal;">
                            <br/>
                        </p>
                    </section>
                </section>
            </section>
            <section class="_135editor" style="position: relative; box-sizing: border-box;" data-id="2185" data-color="rgb(30, 155, 232)"
                data-custom="rgb(30, 155, 232)">
                <section style="color: inherit; font-size: 16px; padding: 5px 10px 0px 35px; margin-left: 27px; border-left-width: 2px; border-left-style: dotted; border-left-color: rgb(228, 228, 228); box-sizing: border-box;">
                    <section class="autonum" style="width: 32px; height: 32px; margin-left: -53px; margin-top: 23px; color: rgb(255, 255, 255); text-align: center; line-height: 32px; border-radius: 16px; box-sizing: border-box; background: rgb(30, 155, 232);"
                        data-original-title="" title="">
                        2
                    </section>
                    <section class="135brush" style="margin-top: -30px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                        <p style="clear: both; line-height: 1.5em; font-size: 14px; color: inherit; white-space: normal;">
                            <span style="color:inherit; font-size:16px"><strong class="135title" style="color:inherit">支付成功后，加客服，她回复你。</strong></span>
                        </p>
                        <p style="clear: both; line-height: 1.5em; font-size: 14px; color: inherit; white-space: normal;">
                            <br/>
                        </p>
                        <p style="clear: both; line-height: 1.5em; font-size: 14px; color: inherit; white-space: normal;">
                            <img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvaWNyaWJBdmljYzdVZzZ0TzkzTFh6M21Sc3ZnU3k2VlRLT2xlTTFRSExKTkhpYWROalZwVFlOQTJpY1dWaWNIWm5hbTZiWWc3ZlhWaWNHano0WHA0ejJVNnpCVmF3LzA="
                                alt="blob.png" />&nbsp;
                        </p>
                    </section>
                </section>
            </section>
            <p style="white-space: normal;">
                <br/>
            </p>
            <p style="white-space: normal;">
                <br/>
            </p>
            <p style="white-space: normal;">
                <br/>
            </p>
            <section class="_135editor" style="position: relative; box-sizing: border-box;" data-id="1873" data-color="rgb(239, 112, 96)"
                data-custom="rgb(239, 112, 96)">
                <section style="max-width: 100%; margin: 0px; border-radius: 2em; height: 2.5em; line-height: 2.5em; color: rgb(255, 255, 255); font-size: 14px; box-sizing: border-box; word-wrap: break-word !important; background-color: rgb(239, 112, 96);">
                    <img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkVhaWNEeUl2WDdkTEU5aWNZbndiMnRsT1djRDJCUDk5VjZpYUNma2s4MVJabFFBUmljYk5yN2FtUTdhMExjM3RGZ3BOSk5FVmFZMTg4WlZRLzA/d3hfZm10PXBuZw=="
                        style="border: 0px rgb(239, 112, 96); float: left; margin: 3px 10px; vertical-align: top; box-sizing: border-box !important; height: auto !important; visibility: visible !important; width: auto !important; word-wrap: break-word !important;"
                        class="assistant" />
                    <p class="135brush" data-brushtype="text" style="max-width: 100%; color: inherit; display: inline-block; font-size: 16px; white-space: normal;">
                        祝您路途愉快！
                    </p>
                </section>
            </section>
            <p style="white-space: normal;">
                <br/>
            </p>
        </section>
    </section>
</body>

</html>