@charset "utf-8";

.tree_panel ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 16px;
    padding-right: 16px;  
}

ul .tree_node {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    line-height: 38px;
}

    ul .tree_node:hover { 
        border-bottom: 1px solid #0aa7ff;
    }

    ul .tree_node a {
        text-decoration: none;
    }

        ul .tree_node a:hover {
            text-decoration: none;
        }

.tree_node_icon {
    width: 16px;
    height: 38px;
    line-height: 38px;
    background: url(../Images/close_node_s.png) no-repeat 0px 12px;
    float: left;
}

.tree_node_icon_open {
    width: 16px;
    height: 38px;
    line-height: 38px;
    background: url(../Images/open_node_s.png) no-repeat 0px 12px;
    float: left;
}

.tree_node_icon_none {
    width: 16px;
    height: 38px;
    line-height: 38px;
    background: none;
    float: left;
}
